/* // Variables from ZUI */

$line-height: 1.414;
$input-border-color: #c6c6c6;
$checkbox-check-color: #739600;
/* Improved checkbox styling that works
 * for single line and multiple lines 
 * of text that wraps */
.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 1.415em;
    cursor: pointer;

    input {
        display: none;
    }

    &__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: white;
        border: 2px solid $input-border-color;
        border-radius: 1px;
        transition: 125ms ease-out;

        &:after {
            content: '';
            position: absolute;
            left: 1px;
            top: 9px;
            width: 7px;
            height: 13px;
            transform: scaleX(-1) rotate(135deg);
            transform-origin: left top;
            border-right: 3px solid white;
            border-top: 3px solid white;
            display: none;
        }
    }

    input:checked ~ .checkbox__indicator {
        background: white;
    }

    input:checked ~ .checkbox__indicator:after {
        animation: check 125ms;
        border-top: 3px solid $checkbox-check-color;
        border-right: 3px solid $checkbox-check-color;
        display: block;
    }
}

.color {
    color: #c6c6c6;
}

.active {
    color: red;
}
